.about_title{
   background-color: #32CD32;
  text-align: center;
  font-size: 2vw;
   font-weight: bold;
   padding-top: 2vw;
   padding-bottom: 2vw;
   margin-bottom: 2vw;
}

.subtitle-about{
  font-weight: bold;
  text-align: center;
  font-size: 2vw;
  word-wrap: break-word;
   margin-bottom: 2vw;

}
.text-about{
  text-align: center;
  font-size: 2vw;
  word-wrap: break-word;
   margin-bottom: 2vw;

}
