.colorwhite{
  background-color: white;
  padding-top: 70px;
  padding-bottom: 30px;
}
.background_index{
 // background-image: url("background_index.png");
   // background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;
}

.image_footer{
  display: flex;
  justify-content:center;
  // background-image: cloudinary-url("logo_gpvujf", $width: 50, $height: 50,$crop: "scale", $radius: 10);
  // background-image: url("footer_image.png");
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px;
  margin-bottom: 10px;
}

.title_index{
  background-color: #ffa500;
  text-align: center;
  font-size: 40px;
   font-weight: bold;
   padding-top: 15px;
   padding-bottom: 15px;
   margin-bottom: 30px;
}

.subtitle-index{
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  word-wrap: break-word;
   margin-bottom: 80px;
   margin-top: 40px;

}
.pizza_index{
  font-size: 25px;
}
.fa-euro-sign{
  font-size: 15px;
}
