.title_question{
  background-color: #ffa500;
  text-align: center;
  font-size: 2vw;
   font-weight: bold;
   padding-top: 1vw;
   padding-bottom: 1vw;
}

.question_list{
  font-size: 2vw;
  word-wrap: break-word;

}
