<div class="colorwhite">
  <div class="container">
    <h2 class= "title_index">NUESTRAS PIZZAS</h2>
    <P class="subtitle-index">TODAS HECHAS EN CASA CON INGREDIENTES FRESCOS <br>Y MUCHO AMOR</P>

    <div class="background_index pizza_index">
    <% @pizzas.each do |pizza|%>
    <ul>

     <li><%=pizza.name.upcase%>: <%=pizza.ingredients%>.</li>
     <%=pizza.price%> <i class="fas fa-euro-sign"></i>
    </ul>

    <%end%>
    </div>

  </div>
    <div class="image_footer">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
</div>
