<div class="colorwhite">
  <div class="container">
    <h2 class= "title_index">NUESTRAS PIZZAS</h2>
    <P class="subtitle-index">TODAS HECHAS EN CASA CON INGREDIENTES FRESCOS <br>Y MUCHO AMOR</P>

    <div class="background_index pizza_index">
    <% @pizzas.each do |pizza|%>
    <ul>

     <li><%=pizza.name%>: <%=pizza.ingredients%> </li>

    </ul>

    <%end%>

      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

  </div>
    <div class="image_footer">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

    </div>
</div>
