<div class="colorwhite">
  <div class="container">
    <h2 class="about_title">NUESTROS SERVICIOS</h2>
    <h2 class="subtitle-about">PIZZAS CASERAS LISTAS PARA HORNEAR</h2>
    <p class="text-about">DÍAS DE ENTREGA VIERNES, SÁBADO Y DOMINGO <br>DE 17 A 19.30HS.<br>
    LOS PEDIDOS SE PUEDEN REALIZAR TODOS LOS DÍAS<br> DE LA SEMANA <br>
    SI EL PEDIDO ES PARA EL MISMO DÍA, SE PODRÁ REALIZAR<br>
    HASTA LAS 15HS.
    <br>
    <br>
    PARA EVENTOS ESPECIALES CONTACTARSE AL 655 536 287</p>

    <div class="image_footer">
      <a href="/">
      <%= cl_image_tag("logo_gpvujf",
      width: 100, height:150, ) %>
    </a>
     </div>
  </div>
</div>
