 <div class="colorwhite">
  <div class="container">
    <div class="home_icons">
      <i class="fab fa-instagram"></i>
      <i class="fab fa-whatsapp"></i>
    </div>
     <div class="d-flex justify-content-around mt-3" >
       <p class="btn btn-dark menu_home">NUESTRAS PIZZAS</p>
       <p class="btn btn-dark menu_home">NUESTRO SERVICIO</p>
       <p class="btn btn-dark menu_home">PREGUNTAS FRECUENTES</p>
     </div>

     <div class="banner_home"></div>

     <div class="btn button_pedido">
      <p>HAS TU PEDIDO</p>
     </div>
     <div class="slogan">
       <p>PIZZAS DE VERDAD</p>
     </div>
      <div class="zonas">
     <p>CASTELLDEFELS - GAVÀ MAR - LES BOTIGUES</p>
     </div>
     <div class="envio">
     <p>ENVÍO SIN CARGO</p>
     </div>
  </div>
</div>


