<div class="colorwhite">
  <div class="container">
    <h2 class= "title_question">PREGUNTAS FRECUENTES</h2><br><br><br>
    <div class="question_list">
      <ul>
        <li>SE PUEDEN FREEZAR?<br>
          Sí, se pueden freezar porque todas nuestras  pizzas están elaboradas con
          Productos frescos. Es preferible quitarla de la caja y cubrirla por completo con papel film.</li><br><br>
        <li>PUEDO REALIZAR UN PEDIDO DESPUÉS DE LAS 16HS?<br>
          En este caso es mejor enviar un mensaje a nuestro whatssap 655 536 287
          Para ver si tenemos disponible el producto que solicitas.</li><br><br>
        <li>PUEDO COORDINAR OTRO HORARIO DE ENTREGA?<br>
          Si tienes alguna preferencia en el horario de entrega, puedes aclararlo
          En comentarios a la hora de hacer el pedido.</li><br><br>
          <li>SE REALIZAN PEDIDOS PARA EVENTOS?<br>
          Sí, es posible hacer pedidos para eventos, a través de nuestro whatssap 655 536 287.
          con dos días de anticipación como mínimo, para darte un buen servicio.</li><br><br>
      </ul>
    </div>
  </div>
<!--  <%= link_to " ", root_path, class: "image_footer"%> -->
   <div class="image_footer">
    <a href="/">
       <%= cl_image_tag("logo_gpvujf",
      width: 100, height:150, ) %>
    </a>
     </div>

</div>

